.nb-lg{
	margin-left: 9rem;
}
.nb-end{
	margin-right: 9rem;
}
.navbar-item img {
    max-height: 5rem;
}

.mapboxgl-ctrl-geocoder, .mapboxgl-ctrl-geocoder--input{
	width: auto;	
}
.mapboxgl-ctrl-geocoder--input{
	font: inherit;
    width: 100%;
    border: 0;
    background-color:white; 
    margin: 0;
    min-height: 2.5rem;
    /* border-color: lightgrey; */
    /* color: #404040; */
    /* color: rgba(0, 0, 0, 0.75); */
    padding: 6px 45px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;

}
.pd-geo{
	padding-left: 7rem;
}
.datetimepicker-dummy, .datetimepicker-dummy-wrapper, .datetimepicker-dummy-input{
	min-width: 100%;
	background: white;
}

#pp-disp{
	background-color: #fff;
	padding: 1rem;
	box-shadow: 0px 1px 10px #ddd, 0 1px 20px #ccc; 
}

::-ms-input-placeholder{
	opacity: 1;
	color: #000;
} 
::-webkit-input-placeholder{
		opacity: 1;
	color: #000;
} 
::-moz-placeholder {
	opacity: 1;
	color: #000;
}

input::placeholder{
	color: #000;
}

.cc-cls{
	margin-bottom: 0.2rem; 
}

.cv-cls{
	margin-right: -0.1rem;
}
.label{
	cursor: pointer;
}

#ha-e, #hh-e, #am-e, #rl-e, #pt-e, #ha-sa, #hh-sa, #am-sa, #rl-sa, #pt-sa{
	display: none;
}

/*input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button{
	-webkit-appearance:none;
	margin:0;
}*/