{% extends 'users/base.html' %}
{% load static %}
{% block navbar %}
{% if logged %}
	{% if ut == 'owner' %}
	    <div class="navbar-start">
		    <a class="navbar-item" href="{% url 'renting:home' %}">
		        Home
		    </a>
		    <a class="navbar-item" href="{% url 'renting:rent_ad_list' %}">
		        My Rent Ads
		    </a>
	    </div>
 	    <div id="dd-ll" class="navbar-item has-dropdown is-hoverable">
	        <a class="navbar-link">
	         LandLord
	        </a>
			
	        <div class="navbar-dropdown">
	          <a class="navbar-item" id='tt'>
	           Tenant
	          </a>
	        </div>
	    </div> 
	{% elif ut == 'tenant' %}
	    <div class="navbar-end">
		    <div id="dd-tt" class="navbar-item has-dropdown is-hoverable">
		        <a class="navbar-link">
		        Tenant
		        </a>
		        <div class="navbar-dropdown">
			        <a class="navbar-item" id='ll'>
			         LandLord
			        </a>
		        </div>
		    </div> 
	    </div>
	{% endif %}
{% else %}
<div class="navbar-item">
	<h6 class="title wlc-title">You are few steps away to pick your desired home or post the rent ad without any charges. Welcome to Niebo..!!</h6>
</div>
{% endif %}
{% endblock navbar %}
{% block body %}

<div class="container">

	<!-- <div> -->
		<!-- <h6 class="title">Welcome to the paradise..!!</h6> -->
	<!-- </div> -->
	<div id="carousel-demo" class="carousel">
		<div class="item-1">
			<img class='hm-img' src="{%static 'img/house-img1.jpg' %}">
		</div>
		<div class="item-2">
			<img class='hm-img' src="{%static 'img/house-img2.jpg' %}">
		</div>
		<div class="item-3">
			<img class='hm-img' src="{%static 'img/house-img3.jpg' %}">
		</div>
	</div>
	<div class="columns mt-1 is-centered" id='hm-h-t-div'>
		{% if logged and ut == 'tenant'%}
			<div class="column is-one-third">
				<button id='tenet' class="button is-medium is-fullwidth is-warning">I'm a Tenant</button>
			</div>
			<div class="column is-one-third">
				<a id='otner' class="button is-medium is-fullwidth is-light" href="{% url 'renting:post_rent_ad' %}">I'm a 
				House Owner</a>
			</div>
		{% elif logged and ut == 'owner'%}
			<div class="column is-one-third">
					<button id='tenet' class="button is-medium is-fullwidth is-light">I'm a Tenant</button>
			</div>
			<div class="column is-one-third">
				<a id='otner' class="button is-medium is-fullwidth is-warning" href="{% url 'renting:post_rent_ad' %}">I'm a 
					House Owner</a>
			</div>
		{% else %}
			<div class="column is-one-third">
				<button id='tenet' class="button is-medium is-fullwidth is-warning">I'm a Tenant</button>
			</div>
			<div class="column is-one-third">
				<a id='owner' class="button is-medium is-fullwidth is-warning" >I'm a 
				House Owner</a>
			</div>
		{% endif %}
	</div>
	<div class="columns is-multiline" id='srch-bar'>
		<div class="column pd-geo">
			<h6 class="subtitle is-5">Enter the city name where you are looking for the houses and pick the dates for when you want to move </h6>
		</div>
		<div class="column">
			<!-- <div class=""> -->
				<form id='rental-search' class="" method="post" action="{% url 'renting:disp' %}">
					{% csrf_token %}
					<div class="columns is-centered">
	  					<div id='geocoder' class="column is-two-fifth pd-geo"></div>
	  					<div class="column">
	  						<div class="columns">
			  					<div class="column">
			  						<input type="date" id='datepickerDemoRange' class='input dd has-background-white-bis' name='in_date'>
			  					</div>
			  					<div class="column">
			  						<input type="date" allowSameDayRange='false' class='dd has-background-white-bis' displayMode="inline" name='out_date'>
			  					</div>
			  					<div class="column">
			  						<input id='rt-srch' class="button is-danger is-rounded" type="submit" name="Search" value="Search">
			  					</div>
		  					</div>
	  					</div>
  					</div>
  				</form>
  			<!-- </div> -->
		</div>
	</div>
	<!-- <div id='map' style='width: 400px; height: 300px;'></div> -->
	<!-- <div id="geocoder" class="geocoder"></div> -->
	<script>
	mapboxgl.accessToken = 'pk.eyJ1IjoiaXZhcmR1IiwiYSI6ImNrYm80c2E5NjFnemcycXM0YXE3cTZmaWwifQ.RUzXxKHAH_vuUSs0hc4t7g';
	// var map = new mapboxgl.Map({
	// container: 'map',
	// style: 'mapbox://styles/mapbox/streets-v11',
	// mapbox://styles/ivardu/ckbzhy6vt3yvr1io3a3ppdz4j
	// center:[-79.4512, 43.6568],
	// zoom:13
	// });
	var geocoder = new MapboxGeocoder({
		accessToken:mapboxgl.accessToken,
		mapboxgl:mapboxgl,
		placeholder:'Search the City or Place name'
	})
	// document.getElementById('geocoder').appendChild(geocoder.onAdd(map));
	geocoder.addTo('#geocoder');
	$(function(){
		$('.mapboxgl-ctrl-geocoder--input').attr('name','place');	
		$('.mapboxgl-ctrl-geocoder').css('max-width','none');
	});
			
	
	$(function(){
		// bulma carousel settings
		bulmaCarousel.attach('#carousel-demo', {'autoplay':true, 'infinite':true, });
		// $('.mapboxgl-ctrl-geocoder').on('click', function(){
		// 	// $('.mapboxgl-ctrl-geocoder').css()
			
		// 	$(this).css('box-shadow','0 1px 5px rgba(81, 203, 238, 1)');

		$('#rt-srch').on('click',function(){
			if($('.mapboxgl-ctrl-geocoder--input').val()==''){
				$('.mapboxgl-ctrl-geocoder').append('<h6 class="mt-1 ml-1 has-text-danger">Place name cannot be empty</h6>');
				$('.mapboxgl-ctrl-geocoder--input').css('box-shadow','0 0 5px 1px rgba(255, 0, 0, 1)');
			}
		})

		$('.mapboxgl-ctrl-geocoder--input').on('keydown', function(){
			$('html, body').animate({
				'scrollTop': $('#geocoder').position().top
			});
			$('.mapboxgl-ctrl-geocoder--input').css('box-shadow','none');
			$('.mapboxgl-ctrl-geocoder').find('h6').remove();
		})


	});
</script>

</div>
{% endblock body %}