{% extends 'users/base.html' %}
{% load static %}
{% block navbar %}
<div class="navbar-item">
	<h6 class="title wlc-title">You are few steps away to pick your desired home or post the rent ad without any charges. Welcome to Niebo..!!</h6>
</div>

{% endblock navbar %}
{% block body %}
<div class="container">
	<!-- <div> -->
		<!-- <h6 class="title">Welcome to the paradise..!!</h6> -->
	<!-- </div> -->
	<div id="carousel-demo" class="carousel">
		<div class="item-1">
			<img class='hm-img' src="{%static 'img/house-img1.jpg' %}">
		</div>
		<div class="item-2">
			<img class='hm-img' src="{%static 'img/house-img2.jpg' %}">
		</div>
		<div class="item-3">
			<img class='hm-img' src="{%static 'img/house-img3.jpg' %}">
		</div>
	</div>
	<div class="columns mt-1 is-centered">
		<div class="column is-one-third">
			<button id='tenet' class="button is-medium is-fullwidth is-warning">I'm a Tenant</button>
		</div>
		<div class="column is-one-third">
			<button id='owner' class="button is-medium is-fullwidth is-warning">I'm a House Owner</button>
		</div>
	</div>
	<div class="columns" id='srch-bar'>
		<div class="column">
			<!-- <div class=""> -->
				<form id='rental-search' class="" method="post" action="{% url 'renting:disp' %}">
					{% csrf_token %}
					<div class="columns is-centered">
	  					<div id='geocoder' class="column is-two-fifth pd-geo"></div>
	  					<div class="column">
	  						<div class="columns">
			  					<div class="column">
			  						<input type="date" id='datepickerDemoRange' class='input dd has-background-white-bis'>
			  					</div>
			  					<div class="column">
			  						<input type="date" allowSameDayRange='false' class='dd has-background-white-bis' displayMode="inline"  isRange='true'>
			  					</div>
			  					<div class="column">
			  						<input id='rt-srch' class="button is-danger is-rounded" type="submit" name="Search" value="Search">
			  					</div>
		  					</div>
	  					</div>
  					</div>
  				</form>
  			<!-- </div> -->
		</div>
	</div>
	<!-- <div id='map' style='width: 400px; height: 300px;'></div> -->
	<!-- <div id="geocoder" class="geocoder"></div> -->
	<script>
	mapboxgl.accessToken = 'pk.eyJ1IjoiaXZhcmR1IiwiYSI6ImNrYm80c2E5NjFnemcycXM0YXE3cTZmaWwifQ.RUzXxKHAH_vuUSs0hc4t7g';
	// var map = new mapboxgl.Map({
	// container: 'map',
	// style: 'mapbox://styles/mapbox/streets-v11',
	// mapbox://styles/ivardu/ckbzhy6vt3yvr1io3a3ppdz4j
	// center:[-79.4512, 43.6568],
	// zoom:13
	// });
	var geocoder = new MapboxGeocoder({
		accessToken:mapboxgl.accessToken,
		mapboxgl:mapboxgl
	})
	// document.getElementById('geocoder').appendChild(geocoder.onAdd(map));
	geocoder.addTo('#geocoder');
	$(function(){
		$('.mapboxgl-ctrl-geocoder--input').attr('name','place');	
		$('.mapboxgl-ctrl-geocoder').css('max-width','none');
	});
			


	$(function(){
		// Initialize all div with carousel class
		// var carousels = bulmaCarousel.attach('.carousel', {'autoplay':true, 'slidesToShow':1, 'effect':'translate', 'loop':true, 'navigation':false});

		// // Loop on each carousel initialized
		// for(var i = 0; i < carousels.length; i++) {
		// 	// Add listener to  event
		// 	carousels[i].on('before:show', state => {
		// 		// console.log(state);
		// 	});
		// }

		// // Access to bulmaCarousel instance of an element
		// var element = document.querySelector('#my-element');
		// if (element && element.bulmaCarousel) {
		// 	// bulmaCarousel instance is available as element.bulmaCarousel
		// 	element.bulmaCarousel.on('before-show', function(state) {
		// 		console.log(state);
		// 	});
		// }

		bulmaCarousel.attach('#carousel-demo', {'navigation':false, 'autoplay':true, 'effect':'translate', 'infinite':true });
	});
</script>

</div>
{% endblock body %}