{% extends 'users/base.html' %}
{% block footer %}
{% endblock footer %}
{% block body %}
<div class="container">
	<div class="modal" id='del-cncl'>
		<div class="modal-background"></div>
		<div class="modal-content" id='mc-id'>
	    <!-- Any other Bulma elements you want -->
		    <div class="box">
		    	<div class="modal-card-body">
				    <div class="columns is-centered">
				    	<h6 class="title has-text-dark is-size-4 has-text-weight-light">Are you sure, you want to delete this <span class="has-text-weight-medium">Rent Ad..?</span></h6>
				    </div>
				    <div class="columns is-centered">
						<div class="column is-one-quarter">
							<button id="md-cncl" class="button is-small is-fullwidth is-warning">Cancel</button>
						</div>
						<div class="column is-one-quarter">
							<a href="" id="md-del" class="button is-small is-fullwidth is-danger">Yes</a>
						</div>
					</div>
				</div>
	    	</div>
		</div>
	  <button class="modal-close is-large" aria-label="close"></button>
	</div>
	<div class="columns has-background-white-bis box">
		<h1 class="title is-5 mx-2 my-2 px-2 py-2">Welcome House owner..!! you are few steps away to post your rent ad</h1>
		 <!-- <h6>Search the Location and pin the marker, fill the form..!!</h6> -->
	</div>
	<div class="columns box mt-1">
		<div class="column has-background-white mn-col" id='pkhere'>
			<div class="level">
				<div class="level-left">
					<h6 class="title is-4" id='ha_title_id'>Fill your house address <span class="button is-small is-danger">5</span></h6>
				</div>
				<div class="level-right">
					<button id='ha-e' class='level-item button is-small is-secondary'>Edit</button>
					<button id='ha-sa' type='submit' class="button is-small is-primary">Save</button>
				</div>
			</div>
			<form method="post" id="house_addr" data-url="{% url 'renting:post_rent_ad' %}" enctype="multipart/form-data">
				{% csrf_token %}
				<div class="columns">
					<div class="column" id='hh_no'>
						{{form.house_no.errors}}
						{{form.house_no.label}}
						{{form.house_no}}
					</div>
					<div class="column">
						{{form.street_address.errors}}
						{{form.street_address.label}}
						{{form.street_address}}
					</div>
				</div>
				<div class="columns">
	<!-- 				<div class="column">
						{{form.area.errors}}
						{{form.area.label}}
						{{form.area}}
					</div> -->
					<div class="column">
						{{form.zipcode.errors}}
						{{form.zipcode.label}}
						{{form.zipcode}}
					</div>
					<div class="column">
						{{form.city.errors}}
						{{form.city.label}}
						{{form.city}}
					</div>

				</div>
	<!-- 			<div class="columns">
					<div class="column field">
						{{form.state.errors}}
						{{form.state.label}}
						<div class="control">
							<div class="select is-small">
								{{form.state}}
							</div>
						</div>
					</div>
					<div class="column">
						{{form.zipcode.errors}}
						{{form.zipcode.label}}
						{{form.zipcode}}
					</div>
				</div> -->
				<div class="columns">
					<div class="column">
						{{form.country.errors}}
						{{form.country.label}}
						{{form.country}}
					</div>
				</div>
				<div class="columns">
					<div class="column">
						{{form.longitude.errors}}
						{{form.longitude.label}}
						{{form.longitude}}
					</div>
					<div class="column">
						{{form.latitude.errors}}
						{{form.latitude.label}}
						{{form.latitude}}
					</div>
				</div>
				<div class="columns">
					<div class="column" id='avl'>
						<h5><small>Availability of house</small></h5>
					</div>
					<div class="column ">
						{{form.rent.errors}}
						{{form.rent.label}}
						<div class="control has-icons-left">
						{{form.rent}}
						  <span class="icon is-left">
						    <i class="fa fa-eur"></i>
						  </span>
						</div>
					</div>
				</div>
				<div class="columns brdr">
					<div class="column">
						{{form.in_date.errors}}
						{{form.in_date.label}}
						{{form.in_date}}
					</div>
					<div class="column">
						{{form.out_date.errors}}
						{{form.out_date.label}}
						{{form.out_date}}
					</div>
				</div>
				<div class="columns" id='imgprev'>

				</div>
				<div class="columns">
					<div class="column">
						<div class="field">
							<div class="file is-info has-name" id='file-js-example'>
								<label class="file-label">
									{{img_form.images}}
									<span class="file-cta">
										<span class="file-icon">
								          <i class="fa fa-upload"></i>
										</span>
								        <span class="file-label">
								          Upload House Images
										</span>
							    	</span>
							    	<span class="file-name">
									</span>
								</label>
							</div>
						</div>
					</div>
				</div>
				<div class="columns is-centered" id='button_sec'>
					<div class="column is-one-quarter">
						<input id='house_addr_submit' class="button is-fullwidth is-small is-rounded is-success" type="submit" name="submit" value="submit">
					</div>
					<div class="column is-one-quarter">
						<a class="button is-fullwidth  is-small is-rounded is-danger" href="">Cancel</a>
					</div>
				</div>
			</form>
		</div>
		<div class="column ">
			<div class="columns is-centered">
				<div class="column is-two-thirds has-background-white-ter">
					<div id='geocoder' class="geocoder"></div>
				</div>
			</div>
			<progress class="progress is-danger" max="100">80%</progress>
			<div id='map' style='width: 40vw; height: 70vh;'></div>
		</div>
	</div>
	<div class="columns" id="second_div">
		<div class="column" id='house_has'>
			
		</div>
		<div class="column" id='amenities'>
			
		</div>
	</div>
	<div class="columns" id="third_div">
	</div>
	<div class="columns" id='fourth_div'>
		
	</div>
</div>
<script>
	const fileInput = document.querySelector('#file-js-example input[type=file]');
	// fileInput.onchange = () => {
	//   if (fileInput.files.length > 0) {
	// 	const fileName = document.querySelector('#file-js-example .file-name');
	// 	if(fileInput.files.length == 1){
	// 		fileName.textContent = fileInput.files[0].name;	
	// 	}
	// 	else{
	// 		fileName.textContent = fileInput.files.length+' images';		
	// 	}
		
	//   }
	// }
	
	$('#file-js-example input[type=file]').on('change',function(e){
		$('#imgprev').empty();
		var files = e.target.files;
		var fl = files.length;
		if(files && fl > 0){
			const fileName = document.querySelector('#file-js-example .file-name');
			// console.log(files[0].name, fl);
			if(fl == 1){
					fileName.textContent = files[0].name;	
			}else{
				fileName.textContent = fl+' images';		
			}
			for (var i=0; i<fl; i++){
				var f = files[i];
				var obj = $('#imgprev').append($("<img></img>",{
					class:'imgthumb',
					src:URL.createObjectURL(f),
					title:f.name,
					height:'10rem',
					width:'10rem',
				}));
				$('.imgthumb').get(i).onload = function(){
					URL.revokeObjectURL(this.src);
				}
			}
		}
	});

  </script>
<style type="text/css">
	.geocoder {
/*position: absolute;*/
z-index: 1;
/*width: 95%;*/
/*left: 50%;*/
/*margin-left: -25%;*/
top: 10px;
}
.mapboxgl-ctrl-geocoder {
min-width: 100%;
}
#map {
margin-top: 1rem;
}
</style>
<script type="text/javascript">
	$(function(){
		var modl = '{{modl}}'
		if(modl){
			$('#cmpl-lgn-mod').attr('class','modal is-active');
		}
		else{
			console.log('failed');
		}
	});
</script>
<script type="text/javascript">
$(function(){
	mapboxgl.accessToken = 
		'pk.eyJ1IjoiaXZhcmR1IiwiYSI6ImNrYm80c2E5NjFnemcycXM0YXE3cTZmaWwifQ.RUzXxKHAH_vuUSs0hc4t7g';
	var map = new mapboxgl.Map({
		container: 'map',
		style: 'mapbox://styles/mapbox/streets-v11',
		center: [20.977185,52.234062],
		zoom: 10,

	});

	var geocoder = new MapboxGeocoder({
		accessToken:mapboxgl.accessToken,
		mapboxgl:mapboxgl,
		placeholder:'Search for the place to update co-ordinates',
		marker:false
	})
	// Adding the geocoder result to the map
	document.getElementById('geocoder').appendChild(geocoder.onAdd(map));
	
	//Creating Global marker used in map's load and click events
 	var marker = new mapboxgl.Marker({
				draggable:true,
				color:'red',
			});	

 	// Re-position the marker on new geocoder result
 	geocoder.on('result', function(ev) {
 		lnglt = ev.result.geometry.coordinates
		 marker.setLngLat(lnglt).addTo(map);
		 // console.log(lnglt[1],lnglt[2]);
		 lngLatChange(lnglt[0],lnglt[1]);
	});

 	// On Map Load, create a maker and add it to the Map
 	map.on('load',function(e){
		cord = geocoder.options.proximity;
		lt = [cord.longitude, cord.latitude];
		marker.setLngLat(lt).addTo(map);
		// $('#id_longitude').attr('value',cord.longitude);
		// $('#id_latitude').attr('value',cord.latitude);
		lngLatChange(cord.longitude, cord.latitude);
		$('.progress').remove();
 	});

 	marker.on('dragend', onDragEnd);
 	// On Map click, re-position the marker the clicked position
	map.on('click', function(e){

		marker.setLngLat(e.lngLat).addTo(map);

		//Add co-ordinates details to the marker top on marker-drag 
		onDragEnd();
 		
		// marker.on('dragend', onDragEnd);
	});

	function onDragEnd() {
			var lngLat = marker.getLngLat();
			var div = $('#pp-disp');
			if(div.length > 0){
				$(div).remove();
			}
			var disp = document.createElement("div");
			var el = $('.mapboxgl-marker');
			disp.setAttribute('id','pp-disp');
			
			disp.innerHTML = 'Longitude: ' + (lngLat.lng).toFixed(2) + '<br />Latitude: ' + lngLat.lat.toFixed(2);
			el.prepend(disp);
			console.log($('#id_longitude'));
			lngLatChange(lngLat.lng, lngLat.lat);

	}
	function lngLatChange(longitude, latitude){
		$('#id_longitude').attr('value',longitude.toFixed(2));
		$('#id_latitude').attr('value',latitude.toFixed(2));
	}

	
	// Using the Bulma Calendar extension for dates

	// Preview the images while posting the new house

	

	
});
var ha_url = "{% url 'renting:house_amenities' %}"
</script>

{% endblock body %}